#signin-sidebar.col-xs-12.col-sm-12.col-md-3.col-lg-3
  .login
    div.login-title.row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        .title LOG IN
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.text-right
        .forget Forgot password ?
    .clearfix
    div.row
      input.email.col-xs-12.col-sm-12.col-md-9.col-lg-9(name='email' type='email' placeholder='EMAIL' required='required')
      span.email-style
      input.password.col-xs-12.col-sm-12.col-md-9.col-lg-9(name='password' type='password' placeholder='PASSWORD' required='required')
      span.password-style
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.submit(type='submit' value="Go")
      .col-xs-12.col-sm-12.col-md-8.col-lg-8
        label
          input.password(name='remember' type='checkbox')
          | Remember password
  .signup
    div
      .title JOIN THE COMMUNITY
      .member
        .social-login.row
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            span Sign in with:
          .col-xs-12.col-sm-12.col-md-6.col-lg-8
            ul.social
              li
                a.twitter(href='#')
                  img(src='/images/mobile_twitter.png')
              li  
                a.facebook(href='#')
                  img(src='/images/mobile_facebook.png')
              li
                a.pinterest(href='#')
                  img(src='/images/mobile_pinterest.png')
              li
                a.weibo(href='#')
                  img(src='/images/mobile_weibo.png')
              
        .local-signin
          div or with email address
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            input.col-xs-12.col-sm-12.col-md-10.col-lg-10.fname(name='fname' type='text' placeholder='FIRST NAME' required='required')
            span.first-name-style
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            input.col-xs-12.col-sm-12.col-md-10.col-lg-10.lname(name='lname' type='text' placeholder='LAST NAME' required='required')
            span.last-name-style
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            input.col-xs-12.col-sm-12.col-md-8.col-lg-8.email(name='email' type='email' placeholder='EMAIL' required='required')
            span.email-style
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            input.col-xs-12.col-sm-12.col-md-8.col-lg-8.password(name='password' type='password' placeholder='PASSWORD' required='required')
            span.password-style
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            label
              input.man(name='man' type='checkbox')
              | Man's fashion
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            label
              input.woman(name='woman' type='checkbox')
              | Woman's fashion
          label
            input.password(name='man' type='checkbox')
            | Receive our newsletter and recommendation?
            input.submit(type='submit' value="JOIN")
      .vip
        | REGISTER VIP ACCOUNT
